<div class="card" style="width: 12rem;">
  <div class="card-header">
    <span id="connected-users-placeholder"></span>
    Connected Users
  </div>
  <ul class="list-group list-group-flush" id="connected-users-list">
  </ul>
</div>
<div class="d-none" data-role="connected-user-template">
  <li class="list-group-item"></li>
</div>
