<!-- Modal -->
<div class="modal fade" id="deleteModal<%= object_to_delete.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        vous êtes sur le point de supprimer <%= object_to_delete.class %> avec l'id <%= object_to_delete.id %>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="<%= link_to_delete %>" class="btn btn-outline-danger" data-method="delete">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- dans le button on ajoute dans le 'href' le lien 'link_to_delete' qui pemets d'envoyer une requête lié au bon élément'-->