<div>
  <%= link_to 'Back', :back, class: "btn-sm btn-outline-secondary" %>
  <%= link_to 'My contacts', {controller: 'contacts'}, class: "btn-sm btn-outline-secondary" %>
  <%= link_to 'My Cv\'s', {controller: 'cv_cards'}, class: "btn-sm btn-outline-secondary" %>
  <%= link_to 'My competences', {controller: 'cv_competences'}, class: "btn-sm btn-outline-secondary" %>
</div>