<% flash.each do |flash_name, flash_message| %>

  <div aria-live="polite" aria-atomic="true" class="flash" style="height: 100px;">
    <div class="toast <%= flash_name %> " role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
      <div class="toast-header">
        <strong class="mr-auto">Alert</strong>
        <small class="text-muted"> <%= Time.now.strftime("%m/%d/%Y - %I:%M%p") %></small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        <%= flash_message %>
      </div>
    </div>
  </div>
<% end %>
