<div class="mother-card">
  <div class="row">
    <%= render partial: 'shared/cv_competence', collection: @cv_competences %>
  </div>

  <hr class="hr-line">
<div>
 <%=render 'shared/accordion_cv_cards' %>
</div>

</div>