<h2><i class="fas fa-newspaper" class="table-dark"> <%= @cv_card.business %>'s card </i></h2>

<div>
  <%= render partial: 'shared/cv_card', locals: {cv_card: @cv_card} %>
</div>


<%#= render partial: "shared/delete_modal", locals: {link_to_delete: url_for(cv_card_destroy_path(@cv_card)), object_to_delete: @cv_card} %>

