<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF' http-equiv=
        'Content-Type' />
  </head>
  <body>
    <h1> You have a new message from <%= @contact.name %></h1>
    <p>
      <%= @contact.message %> <br>
    </p>
  </body>
</html>