<div class="row">
  <div class="col-12 col-md-3">
    <div class="mb-3">
      <%= render partial: 'shared/rooms' %>
    </div>
  </div>

  <div class="col">
    <div class="alert alert-dark">
      <h4 class="alert-heading">
        Welcome to the My chatRoom feature!
      </h4>

      <p>
        Built to improve my skills
      </p>

      <hr/>

      <p>
        You can create or join a room !
      </p>
    </div>
  </div>
</div>

