<div class="row">
  <div class="col-12 col-md-3">
    <div class="mb-3">
      <%= render partial: 'shared/rooms' %>
    </div>
  </div>

  <div class="col">
    <div class="alert alert-dark">
      <h4 class="alert-heading">
        Welcome to the My chat !
      </h4>

      <p>
        We need to talk.
      </p>

      <hr/>

      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>
  </div>
</div>