// Place all the styles related to the cv_cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$border-color: #EEF0F2;

.cv-modal {
  margin-bottom: 20px;
}
.cv-show{
  padding-bottom: 25px;
}

//.hr-line {
//  border-color: #343A40;
//}

.shared-buttons {
  padding-top: 10px;
}

ul.list-group.list-group-flush.col-md-6.col-sm-12:nth-child(4n - 1) {
  border-left: 0.8px solid $border-color;
}

.list-group-item.cv-button{
  text-align: center;
  background-color: transparent;
}

.contact-responsive-table{
  overflow-x: auto;
}

.list-group-item.cv-content{
  background-color: white;
  border-left: 1px solid rgba(126, 160, 183, 0.3);
  border-right: 1px solid rgba(126, 160, 183, 0.3);
  border-bottom: 1px solid rgba(126, 160, 183, 0.3);
}

.background-color .list-group-item.cv-date{
  border-left: 1px solid rgba(126, 160, 183, 0.3);
  border-right: 1px solid rgba(126, 160, 183, 0.3);
}

.background-color .list-group-item.cv-job{
  border-left: 1px solid rgba(126, 160, 183, 0.3);
  border-right: 1px solid rgba(126, 160, 183, 0.3);
}

.background-color .list-group-item.text-cv-style.card-border{
  border-left: 1px solid rgba(126, 160, 183, 0.3);
  border-right: 1px solid rgba(126, 160, 183, 0.3);
  border-bottom: 1px solid rgba(126, 160, 183, 0.3);
  height: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


//.cv-background{
//background: rgba(0, 0, 0, 0.01);
//}

//.list-group-flush > .list-group-item:last-child {
//  margin-top: -10px;
//}

.list-group-item.text-cv-style{
  margin-top: -10px;
}

.background-color .accordion > .card > .card-header{
  background-color: rgba(0, 0, 0, 0);
}