// Place all the styles related to the cv_cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$border-color: #ade8f4;

.cv-modal {
  margin-bottom: 20px;
}


.hr-line {
  border-color: #ade8f4;
}

.shared-buttons {
  padding-top: 10px;
}

ul.list-group.list-group-flush.col-md-6.col-sm-12:nth-child(4n - 1) {
  border-left: 0.8px solid $border-color;
}

.list-group-item.cv-button{
  text-align: center;
}

.contact-responsive-table{
  overflow-x: auto;

}