// Place all the styles related to the cv_competences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// the blue picked color => #ade8f4
//the dark picked color => #343A40
//the pink picked color => #DBCBD8
//the pink picked color => #7EA0B7
//the CHAT pink color => #FFF8FA



$border-color: #7EA0B7;
li {
  list-style-type: circle;
}

#page-container .list-group-item.cv-info{
  border: 0;
}

.list-group-flush > .list-group-item.cv-title {
  text-align: center;
  font-size: 1.2rem;
  font-family: serif;
  font-weight: bold;
  border-top: 1px solid rgba(126, 160, 183, 0.3);
  border-bottom: 0px solid $border-color;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: -5px;
  border-left: 1px solid rgba(126, 160, 183, 0.3);
  border-right: 1px solid rgba(126, 160, 183, 0.3);
}

.list-group-item.text-style{
flex: 1;
  border-radius: 5px;
}

.list-group-flush > .list-group-item.cv-date{
  text-align: center;
  font-size: 1rem;
  font-family: Roboto;
  color: #2e3945;
  //border-top: 0px #7EA0B7;
  border-bottom: 1px solid #7EA0B7;
  //margin-top: 10px;
}

.list-group-flush > .list-group-item.cv-job{
  text-align: center;
  border-bottom: 1px solid #7EA0B7;
  margin-bottom: 10px;

}
.text-style {
  margin-bottom: 10px;
}

.mother-card .list-group{
  padding: 20px;
}

.accordion > .card > .card-header{
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.accordion{
  padding: 20px;
}

.accordion .card {
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
}

.submit{
  padding-top: 10px;
}

.background-color .list-group-item.text-comp-style.card-border{
  border-left: 1px solid rgba(126, 160, 183, 0.3);
  border-right: 1px solid rgba(126, 160, 183, 0.3);
  border-bottom: 1px solid rgba(126, 160, 183, 0.3);
  height: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 25px;
  margin-top: -10px;
}