.fa-linkedin{
  color: white;
  //padding-top: 15px;
  padding-left: 15px;
}

.fa-github{
  color: white;
}

.font-icons{
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}